body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  font-family: 'Josefin Sans', sans-serif;
  
}
.menu_active {
 
  border-bottom: 2px solid rgb(240, 77, 77);
}
.navbar a:hover {
  color:rgb(255, 0, 191) ! important;
}
.navbar a{
  font-size: 1.1rem;
  text-transform: capitalize;
}

@media only screen and (max-width:1024px){
.form-control{
 margin-left: 25px;
}
}
@media only screen and (max-width:800px){
  .form-control{
   margin-left: 0px;
  }
  }